.Toolbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 0px 3px 3px #dcdcdc;
    background-color: #fff;
}

.Toolbar nav {
    height: 60%;
}

.Logo {
    text-decoration: none;
}

header > a:active {
    background-color: #fff;
}

@media(max-width: 600px) {
    .DesktopOnly {
        display: none;
    }
}