.Toolbar {
    height: 100px;
    width: 100%;
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 60%;
}

.Logo {
    text-decoration: none;
}

header > a:active {
    background-color: #fff;
}

@media(max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}