// Styles start here
$fa-font-path: "./webfonts/";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
}