.Banner {
    background: url("../../assets/images/masthead.jpg");
    width: 100%;
    background-size: cover;
}

.TopBar {
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}