.Logo {
    color: #000;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;   
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.TopBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    
    .Menu {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    
        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin-top: 30px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    
            li {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: center;
    
                a {
                    color: #000;
                    font-size: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}

/* banner */

.Banner {
    background: url("../../assets/images/masthead.jpg");
    width: 100%;
    background-size: cover;

    .BannerText {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 15% 0;

        .BannerTextItems {
            color: #fff;
            margin: auto;
            text-align: center;
            width: 50%;

            h2 {
                font-size: 3em;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            p {
                font-size: 18px;

            }
        }
    }
}

/* main-content */

.MainContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5% 0;

    .Main1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 3%;
        text-align: center;
    }
}

/* footer */

footer {
    border-top: 3px solid #f8f8f8;
    padding: 3% 0;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .FtMenu {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
        
        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
            flex-flow: column wrap;
            
            li {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: left;
                text-transform: uppercase;
                padding: 2% 0;

                a {
                    color: #7e7e7e;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

    .FtSocialLegal {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin: auto;
        color: #757575;
        
        .Social ul {
            list-style-type: none;
            display: flex;

            li {
                flex: 1;
                font-size: x-large;
                cursor: pointer;
            }
        }

        .Legal {
            text-align: right;
            padding: 10%;
            font-size: 15px;
            font-weight: 600;

            ul {
                list-style-type: none;

                li a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}

@media all and (max-width:800px) {
    .TopBar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;

        .Logo {
            padding: 18px 0 0;
        }

        .Menu ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-top: 0;

            li {
                padding: 5px;
            }
        }
    }

    .BannerTextItems {
        width: 100%;

        h2 {
            font-size: 1.5em;
        }
    }

    .MainContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;   
    }
}
