.Logo {
    text-decoration: none;
    color: #111;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: auto;
}

.TopBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    
    .Menu {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    
        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            list-style: none;
            margin-top: 30px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    
            li {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                text-align: center;
    
                a, Link {
                    color: #000;
                    font-size: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}

/* banner */

.Banner {
    background: url("../../assets/images/masthead.jpg");
    width: 100%;
    background-size: cover;

    .BannerText {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 15% 0;

        .BannerTextItems {
            color: #fff;
            margin: auto;
            text-align: center;
            width: 50%;

            h2 {
                font-size: 3em;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            p {
                font-size: 18px;

            }
        }
    }
}

/* main-content */

.MainContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5% 0;

    .Main1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 3%;
        text-align: center;
    }
}

@media all and (max-width:800px) {
    .TopBar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;

        .Logo {
            padding: 18px 0 0;
        }

        .Menu ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-top: 0;

            li {
                padding: 5px;
            }
        }
    }

    .BannerTextItems {
        width: 100%;

        h2 {
            font-size: 1.5em;
        }
    }

    .MainContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;   
    }
}
