.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: #111111ab;
  text-transform: uppercase;
}

.NavigationItem a:hover {
  color: #dcdcdc;
}

@media (min-width: 600px) {
  .NavigationItem {
    display: flex;
  }

  .NavigationItem a {
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
  }

  .NavigationItem a:hover {
    background-color: #dcdcdc;
    color: #111111ab;
    border-radius: 4px;
  }
}
