.CheckoutBody {
  padding: 10% 3%;

  .CheckoutHeadline {
    padding-bottom: 10%;

    header {
      font-size: x-large;
      padding-bottom: 5%;
    }

    p {
      font-size: 15px;
    }
  }

  .FormRow {
    display: flex;
    list-style-type: none;
    font-size: small;
    padding: 5% 0;
    flex-direction: column;

    li:first-of-type {
      border-bottom: 2px solid #dfdfdf;
      padding: 3% 0;
      font-size: larger;
    }

    li {
      display: flex;
      padding: 3% 0;

      .ProductDetailTitle {
        flex: 1;
        font-size: larger;
        font-weight: bolder;
      }

      .ProductDetailValue {
        flex: 1;
        text-align: right;
        font-size: larger;
      }
    }

    li:last-of-type {
      text-align: left;
      cursor: pointer;

      .ProductDetailValue {
        color: #007bff;
      }
    }

    .Quantity {
      display: flex;

      .QuantityBtn {
        width: 20px;
        padding: 1%;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #007bff;
        cursor: pointer;
      }

      .QuantityBtn:first-of-type {
        border-right: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .QuantityBtn:last-of-type {
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .QuantityInput {
        width: 25px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #007bff;
        border-left: none;
        border-right: none;
        height: 90%;
      }
    }
  }
}

.FormRow:first-of-type {
  display: none;
}

.FormRow:nth-last-of-type(3),
.FormRow:nth-last-of-type(2),
.FormRow:last-of-type {
  flex-direction: row;
  padding: 0;

  li:first-of-type {
    border-bottom: none;
    flex: 1;
  }

  li:nth-last-of-type(2) {
    font-size: larger;
  }
}

.ByNowBtn {
  text-align: right;
  padding: 0;
}

@media (min-width: 600px) {
  .CheckoutBody {
    padding: 3% 23%;

    .CheckoutHeadline {
      padding-bottom: 3%;

      header {
        padding-bottom: 1%;
      }
    }

    .FormRow:first-of-type {
      border-bottom: 2px solid #dfdfdf;
      display: flex;
    }

    .FormRow {
      flex-direction: row;
      padding: 1% 0;

      li:first-of-type {
        flex: 3;
        font-weight: normal;
        border-bottom: none;
        padding: 0;
      }

      li {
        flex: 2;
        padding: 0;

        .ProductDetailTitle {
          display: none;
        }

        .ProductDetailValue {
          flex: 1;
          text-align: left;
        }
      }

      li:last-of-type {
        flex: 1;
        text-align: right;

        .ProductDetailValue {
          text-align: right;
        }
      }
    }
  }

  .ByNowBtn {
    padding-right: '20%';
  }
}
